<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="Chatroom.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="Chatroom.js"></script>
	</head>
	
	<body>





	 


<div class = "seite">
		<div class="kopfleiste">
				<h1>Mainfrankenchat</h1>

				
		</div>


		<div class="chatfeld">
			<div class ="anzeigefeld">
			</div>

			<form name="checkListForm">
				<textarea name="user_eingabe" rows="3"></textarea>
				<!--<input type="text" name ="checklistitem"/>-->
				
				<div class="button">
				
					<p>Senden</p>
				</div>
			</form>

			
		
		</div>



		<div class="userliste">
			<div class="users">

			</div>
		</div>

		<div class="fusszeile">
		</div>
</div>




	</body>
</html>