<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chat </title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
    
    <dialog open id="dialog">
        <div id="popup">
            <div id="popup_inhalt">
                <h2>Willkommen im Chat!</h2>
                <p id="dialogtext"> Gib hier deinen Benutzernamen ein! </p>
                <form id="userForm">
                <input type="text" id="userName"/>
                <div id="button"><p> Zum Chat!</p></div>
            </form> 
     
        </div>
    </div>

    </dialog>
    

    <div id="wrapper">
    
         <div id="menu">
            <p class="welcome">Welcome to our Chat  <b></b></p>
            <div class="exitDiv">
            <p class="logout"><a id="exit" href="">Logout</a></p>
            </div>
            <div style="clear:both"></div>
        </div>
         
        <div class="chatfeld">
            <div id="chatbox"></div>

            <form id="löschen">
                <input type="text" id="message"/> 
                
            </form>
            <div id="senden"><p> Senden!</p></div>
        </div>

        <div class="rechteSpalte">
            <div class="users">
                <h2>Angemeldete User</h2>
                <div id="userListe">
                </div>
            </div>
        </div>

        <div class="fusszeile">

        </div>
    </div>

   



    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/script.js"></script>
</body>
</html>