<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chat </title>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <div class="container">

        <div class="row" id="chat">
            <div class="col-md-1">
                <img src="/img/java.png" id="java-logo">
            </div>
            <div class="col-md-9">
                <h1 id="greeting">Willkommen im Mainfranken-Chat &nbsp;(:</h1>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-lg btn-danger" id="logout">Logout</button>
            </div>
        </div>

        <br>

        <div class="row" id="chat">
            <div class="col-md-10">
                <div id="chat-log"></div>
            </div>
            <div class="col-md-2">
                <div id="user-list"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <input type="text" id="message" class="form-control" placeholder="Nachricht" autofocus="autofocus">
            </div>
            <div class="col-md-2">
                <button type="button" id="send" class="btn btn-primary">Senden</button>
            </div>
        </div>
    </div>
    
    <dialog open id="dialog">
        <h4>Gib deinen Namen ein!</h4>

        <br>

        <div id="popup" class="row">
            <div class="col-md-8">
                <input type="text" id="user-name" class="form-control" placeholder="Name" autofocus="autofocus">
            </div>
            <div class="col-md-2">
                <button type="button" id="login" class="btn btn-primary">Zum Chat!</button>
            </div>

        </div>
    </dialog>

    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>