<!DOCTYPE html>
<html>
<head>
    <title>Chat Popup</title>
    <link type="text/css" rel="stylesheet" href="popup.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script language="javascript" type="text/javascript" src="popup.js"></script>
</head>
<body>
    <div id="popup">
        <div id="popup_inhalt">
            <h2>Willkommen im Chat!</h2>
            <p> Gib hier deinen Benutzernamen ein! </p>
            <form name="checkListForm">
            <input type="text" name="checkListItem"/> <div id="button"><p> Zum Chat!</p></div>
        </form> 
 
    </div>
    </div>
</body>
</html>


<!--
<h2>To Do</h2>
        <form name="checkListForm">
            <input type="text" name="checkListItem"/>
        </form>
        <div id="button">Add!</div> -->