
html { height: 100%;
		width:100%;}


body {
	text-align: left;
	width :100%;
	height: 100%;
	background-color: black;
}

.seite {
	width: 1400px;
	height: 750px;
	background-color: #00BFFF;	
	margin-left: auto;
	margin-right: auto;


}

.kopfleiste {
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	height: 10%;
	position: relative;
	background-color: #01A9DB;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	
	}

.kopfleiste h1 {
	
	text-align: center;
	font-size: 4em;	
}


.chatfeld {
	
	width: 80%;
	height: 80%;
	float: left;
	background-color: red;
	
	
}

.button p {
	margin-bottom: auto;


}



.userliste {
	width: 20%;
	height: 80%;
	float:right;

	
	
}

.users {
	width: 95%;
	height: 96%;
	background-color: white;
	margin-left: 2%;
	margin-top: 4%;
	border-radius: 5px;
	border: 1px solid black;
}

.fusszeile {
	width: 100%;
	height: 10%;
	background-color: #01A9DB;
	clear: both;
	border-bottom-right-radius:  5px;
	border-bottom-left-radius: 5px;


}

.anzeigefeld {
	position: relative;
	width: 98%;
	height: 83%;
	background-color: white;
	margin-left: 1%;
	margin-top: 1%;
	margin-right: 1%;
	border-radius: 5px;
	border: 1px solid black;
	padding-left: 10px;
}

input {
	display: inline-block;
	width: 80%;
	height: ;
	margin-left: 1%;
	margin-top: 1%;
	border-radius: 5px;

}

textarea {
	
	width: 80%;
	max-width: 80%;
	max-height: 47px;
	margin-left: 1%;
	margin-top: 1%;
	border-radius: 5px;

}

.button{
display: inline-block;	
height: 50px;
width: 5%;
float: right;
text-align: center;
background-color: white;
margin-right: 5%;
margin-top: 1%;
border: 1px solid black;

border-radius: 5px;

}

.active {
	background-color: red;
}

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

#popup {
    /*display: none; */
    z-index: 2;
    position: fixed;
    width:450px;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 8px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #000;
}

#popup_inhalt {
    margin: 8px 14px;
}


#button {
    display: inline-block;
    height:20px;
    width:120px;
    background-color:#cc0000;
    font-family:arial;
    font-weight:bold;
    color:#ffffff;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    float: right; 
    display:table;
    margin-bottom: 10px;
    margin-left: 25px;
  
}

#button p {

    display: table-cell;
    vertical-align: center;

}

#dialogtext {

  margin-bottom: 10px;
}