#hintergrund {
    display:none;
    z-index:1;
    position: fixed;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    background:#000000;
}
 
#popup {
    display: none;
    z-index: 2;
    position: fixed;
    width:450px;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 8px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #000;
}
 
#popup_inhalt {
    margin: 8px 14px;
}


h2 {
    font-family:arial;
}

form {
    display: inline-block;
    float:left;
    margin-bottom: 10px; 

}

#button {
    display: inline-block;
    height:20px;
    width:120px;
    background-color:#cc0000;
    font-family:arial;
    font-weight:bold;
    color:#ffffff;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    float: right;
    display:table;
    margin-bottom: 10px;
    margin-left: 25px; 
}

#button p {

    display: table-cell;
    vertical-align: center;

}